.navbar-wrapper {
	position : absolute;
	z-index : 10;
	margin-top : 10px;
}

.navigation {
	width : 100% !important;
}

.img-carousel {
	width : 100%;
	height : 640px !important;
}

footer {
	height: 70px;
	background-color: #5A5A5A;
	color : #FFFFFF;
}

footer > p {
	font : Verdana Arial;
	font-weight: bold;
	padding-top : 30px;
	padding-left : 30px;
}


#components-list > .dropdown-menu {
	margin-left: -105px;
}

#peripherals-list > .dropdown-menu {
	margin-left: -230px;
}

#laptops-list > .dropdown-menu {
	margin-left: -345px;
}

.carousel-caption h1{
	font-weight: bold;
}

#register-form {
	background-color: transparent;
	color : #000;
	height: 370px;
	width : 30%;
	position: absolute;
	z-index: 10;
	margin-top : -550px;
	margin-left: 65%;
}

#register-form form {
	padding : 10px;
}

.carousel {
	z-index: 1;
}

#login-form div {
	display: inline-block;
}

.menu-container {
	padding : 10px 20px;
	padding-bottom: 10px;
}

.menu-container li {
	padding : 6px 8px;
}

.menu-footer {
	color : white;
	background-color: #9966FF;
	width : 100%;
	margin-top: 18px;
}

.menu-footer h1 {
	padding : 0px 15px;
	padding-bottom: 10px;
}

.nav-overlay {
	position : absolute;
	height : 100%;
	width : 100%;
	background-color: transparentxx: ;
	display : none;
}

.badge {
	display : none;
}

.navbar-titles {
	display : none;
}

.product-wrapper {
	padding : 20px 25px;
	margin-bottom : 15px;
	border: solid 1px #CDCDFF;
}

.product-wrapper:hover{
	background-color: #CDCDFF;
	padding : 20px 25px;
}

.product-wrapper h3 {
	text-align: center;
}

a.info {
	text-align: center;
	font-size : 27px;
	padding : 5px 7px;
	border-radius: 22px;
	color : #777778;
	margin-left: 40%;
	border : 1px solid #fff;
	margin-bottom: 5px;
	z-index : 1;
}

#info-overlay {
	background-color: #000;
	opacity: 0.7;
	position : absolute;
	width : calc(100% - 30px);
	height : calc(100% - 40px);
	margin-left : -26px;
	margin-top : -59px;
	z-index: -1;

}

#info-wrapper {
	color : #000;
	z-index: 1;
}


/*   AT WIDTH MAXIMUM TO 800px    */

@media (max-width: 800px) {
	#register-form {
		background-color: #FFF;
		color : #000;
		height: 370px;
		width : 100%;
		position: relative;
		z-index: 10;
		margin-left: 0px;
		margin-top: 0px;
	}

	#login-form input{
		width : 125px;
	}
}

@media ( max-width : 1280px ) {
	.container {
		width: 900px;
	}
}

@media ( max-width : 958px ) {
	.container {
		width : 700px;
	}

	.img-preview {
		display : none;
	}

	.menu-footer h1{
		font-size: 20px;
		margin : 8px auto !important;
	}

	.menu-footer {
		height : 40px;
	}

	.col-xs-3 {
		width : 33% !important;
	}

}

@media ( max-width : 929px ) {
	#user-name {
		visibility : hidden;
		display : none;
	}
}

@media ( max-width : 890px ) {
	#login-form input {
		width : 150px;
	}
}

@media ( max-width : 856px ) {
	#search-form input.form-control {
		width : 110px !important;
	}

	div.form-group {
		overflow: hidden;
	}

	.navbar-form {
		padding-right : 5px;
	}
}

@media (max-width: 768px) {
	.img-carousel {
		width : 100%;
		height : 400px !important;
	}

	#login-form input{
		width : 115px;
	}

	#login-form div {
		display : block;
	}

	#login-btn {
		width: 66px;
	}

	#components-list > .dropdown-menu {
		margin-left: -100px;
	}

	#peripherals-list > .dropdown-menu {
		margin-left: -100px;
	}

	#laptops-list > .dropdown-menu {
		margin-left: -100px;
	}

	input.form-control {
		width : 100% !important;
		display : block !important;
	}

	.dropdown-menu {
		background-color: #333 !important;
	}

	#user-name {
		display : inline;
		visibility : visible;
	}

	.badge {
		display : inline;
		float : right;
	}

	.navbar-titles {
		display : inline;
	}
}

@media ( max-width : 600px ) {
	#components-list > .dropdown-menu {
		margin-left: -50px;
	}

	#peripherals-list > .dropdown-menu {
		margin-left: -50px;
	}

	#laptops-list > .dropdown-menu {
		margin-left: -50px;
	}
}

@media (max-width: 480px) {

	.carousel-caption h1  {
		font-size: 20px;
	}

	.carousel-caption p  {
		font-size: 16px;
	}

	#login-form div {
		display: block;
	}

	#login-form input{
		width : 100%;
	}
}

@media (max-width: 320px) {
	.img-carousel {
		width : 100%;
		height : 300px !important;
	}

	.carousel-caption h1  {
		font-size: 15px;
	}

	.carousel-caption p  {
		font-size: 12px;
	}

	#login-form div {
		display: block;
	}

	#login-form input{
		width : 100%;
	}

}
